.tiktok {
  text-shadow: #ff00de -1px -2px, #2addfd 2px 0px;
}

.blingbling {
  text-shadow: 0 0 5px white, 0 0 10px #00ffff, 0 0 15px #7fff00, 0 0 20px white;
}

.dynamictiktok {
  color: white;
  font-family: sans-serif;
  font-size: 1em;
  animation: animate 1s linear infinite;
}
.text-rainbow {
  background: linear-gradient(90deg, red, blue);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.card-center {
  width: 61.8%;
  margin: 0 auto;
}

.ban-reseiz {
  resize: none;
}

@keyframes animate {
  0%,
  100% {
    text-shadow: -1.5px -1.5px 0 #0ff, 1.5px 1.5px 0 #f00;
  }
  25% {
    text-shadow: 1.5px 1.5px 0 #0ff, -1.5px -1.5px 0 #f00;
  }
  50% {
    text-shadow: 1.5px -1.5px 0 #0ff, 1.5px -1.5px 0 #f00;
  }
  75% {
    text-shadow: -1.5px 1.5px 0 #0ff, -1.5px 1.5px 0 #f00;
  }
}

.btn-rainbow {
  margin-top: 1rem;
  margin-right: 1rem;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.btn-rainbow:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.btn-rainbow:active {
  color: #fff;
}

.btn-rainbow:active:after {
  background: transparent;
}

.btn-rainbow:hover:before {
  opacity: 1;
}

.btn-rainbow:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
